*.o
*.obj
*.lo
*.la
*.al
*.slo
*.dll
*.so
*.dylib
*.exe
*.out
*.app
*.pdb
*.idb
*.lib
*.a

/build
/bin
/obj
/Debug
/Release


*.suo
*.user
*.userosscache
*.sln.docstates
*.ncb
*.sdf
*.ipch
*.pch
*.cproject
*.project
*.settings/
*.classpath

*.tmp
*.swp
*.bak
*.d
*.log
*.pid
*.gz

/deps/
